body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 56px;
  background: #f0f2f4 0% 0% no-repeat padding-box;
}

.header-top span {
  text-align: left;
  letter-spacing: 0px;
  color: #808080;
  opacity: 1;
  padding: 16px;
}

.header-top div {
  padding: 16px;
}

.header-icon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background: #b3b3b3 0% 0% no-repeat padding-box;
}

.header-main {
  height: 90px;
}

.logo {
  height: 81px;
}

.img-buildings {
  height: 33px;
}

.img-contact {
  height: 34px;
}

.header-main {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.header-main-info {
  padding: 14px 0;
}

.header-main p {
  margin: 3px 0;
  font-size: 14.41px;
  letter-spacing: 0px;
  color: #666666;
  height: 20px;
  font-family: OpenSans-Light;
}

.header-main-contacts {
  display: flex;
  flex-direction: column;
  padding: 14px 0;
}

.header-main-contacts div {
  align-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-main-contacts div span {
  margin-left: 8.36px;
}

.header-menu {
  height: 60px;
  background: #2098df 0% 0% no-repeat padding-box;
  text-decoration-color: white;
}

.header-menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.header-icon {
  color: #707070;
}

.header-menu ul li span {
  color: white;
}

.header-menu ul li img {
  width: 40px;
  height: 40px;
}

.header-menu ul {
  margin: 0;
}

.header-menu ul {
  display: flex;
  justify-content: center;
}

.header-menu ul li {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-menu ul li img:hover {
  background: #47aef4 0% 0% no-repeat padding-box;
}

.header-menu ul li span {
  padding-top: 4.44px;
  padding-bottom: 8.56px;
}
